#hero h1{
  font-size: 4.5rem;
  font-family: emoji;
  color: rgb(168, 177, 187);
}
#hero h2 span{
  color: #ee0187d6;
  font-weight: bold;
}
#hero h2{
  font-size: 3.5rem;
  font-family: emoji;
  color: rgb(168, 177, 187);
}
#hero p{
  color: gray;
  font-size: 20px;
  font-family: serif;
  padding-bottom: 15px;
}
.abt-btn-primary{
  background-color: #ee0187d9;
  border: 0;
  color: white;
}