.single-card:hover{
  transform: translateY(-5px); 
  transition: transform .5s ease-in-out;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 15%)
}
h6{
  color: #5708d3;;
}
.fab{
  padding: 10px 5px;
}
.fab:hover{
  transform: translateY(-5px); 
  transition: transform .5s ease-in-out;
}
.fa-facebook{
  color: #1873EB;
}
.fa-twitter{
  color: #4FC5F7;
}
.fa-linkedin-in{
  color: #047CBA;
}
.fa-instagram{
  color: #C5007A;
}
.fa-youtube{
  color: #FF0000;
}
sup{
  color: #EE0187;
  font-size: 25px;
}
small{
  color: #6f6d6d;
}

.abt-btn-primary:hover{
  background-color: white;
  border: 1px solid;
  color: #ee0187d9;
  transition: .5s ease-in-out;
}